<h1>Astro</h1>
<ul>
  <li><%=link_to "Natal",natal_path%></li>
  <li><%=link_to "Transit Now",nowtransit_path%></li>
  <li><%=link_to "Transit",transit_path%></li>
  <li><%=link_to "Synastry",synastry_path%></li>
  <li><%=link_to "Composite",composite_path%></li>
</ul>
