<tr>
  <td><%=planet.name%></td>
  <td><%=planet.longitude%></td>
  <td><%=planet.name%></td>
  <td><%=planet.longitude2%></td>
  <td><%=planet.name%></td>
  <td><%=planet.longitude3%></td>
  <td><%=planet.house+1%></td>
</tr>
